.form
  .container
    %header.codrops-header
      .codrops-links
        %a.codrops-icon.codrops-icon--prev{:href => "http://tympanus.net/Tutorials/SlidingHeaderLayout/", :title => "Previous Demo"}
          %span Previous Demo
        %a.codrops-icon.codrops-icon--drop{:href => "http://tympanus.net/codrops/?p=21991", :title => "Back to the a"}
          %span Back to the Codrops a
      %h1
        Text Input Effects
        %span Simple ideas for enhancing text input interactions
      %nav.codrops-demos
        %a.current-demo{:href => "index.html"} Set 1
        %a{:href => "index2.html"} Set 2
    %section.content.bgcolor-1
      %h2.nomargin-bottom Haruki
      %span.input.input--haruki
        %input#input-1.input__field.input__field--haruki{:type => "text"}/
        %label.input__label.input__label--haruki{:for => "input-1"}
          %span.input__label-content.input__label-content--haruki First Name
      %span.input.input--haruki
        %input#input-2.input__field.input__field--haruki{:type => "text"}/
        %label.input__label.input__label--haruki{:for => "input-2"}
          %span.input__label-content.input__label-content--haruki Last Name
      %span.input.input--haruki
        %input#input-3.input__field.input__field--haruki{:type => "text"}/
        %label.input__label.input__label--haruki{:for => "input-3"}
          %span.input__label-content.input__label-content--haruki Email
    %section.content
      %h2 Hoshi
      %span.input.input--hoshi
        %input#input-4.input__field.input__field--hoshi{:type => "text"}/
        %label.input__label.input__label--hoshi.input__label--hoshi-color-1{:for => "input-4"}
          %span.input__label-content.input__label-content--hoshi Name
      %span.input.input--hoshi
        %input#input-5.input__field.input__field--hoshi{:type => "text"}/
        %label.input__label.input__label--hoshi.input__label--hoshi-color-2{:for => "input-5"}
          %span.input__label-content.input__label-content--hoshi Street
      %span.input.input--hoshi
        %input#input-6.input__field.input__field--hoshi{:type => "text"}/
        %label.input__label.input__label--hoshi.input__label--hoshi-color-3{:for => "input-6"}
          %span.input__label-content.input__label-content--hoshi Town
      %p
        Inspired by Andrej Radisic's
        %a{:href => "https://dribbble.com/shots/1785176-Jawbreaker-input-field"} Jawbreaker input field
    %section.content.bgcolor-4
      %h2 Kuro
      %span.input.input--kuro
        %input#input-7.input__field.input__field--kuro{:type => "text"}/
        %label.input__label.input__label--kuro{:for => "input-7"}
          %span.input__label-content.input__label-content--kuro Username
      %span.input.input--kuro
        %input#input-8.input__field.input__field--kuro{:type => "text"}/
        %label.input__label.input__label--kuro{:for => "input-8"}
          %span.input__label-content.input__label-content--kuro Website
      %span.input.input--kuro
        %input#input-9.input__field.input__field--kuro{:type => "text"}/
        %label.input__label.input__label--kuro{:for => "input-9"}
          %span.input__label-content.input__label-content--kuro Invitation Code
    %section.content.bgcolor-7
      %h2 Jiro
      %span.input.input--jiro
        %input#input-10.input__field.input__field--jiro{:type => "text"}/
        %label.input__label.input__label--jiro{:for => "input-10"}
          %span.input__label-content.input__label-content--jiro Cat's Name
      %span.input.input--jiro
        %input#input-11.input__field.input__field--jiro{:type => "text"}/
        %label.input__label.input__label--jiro{:for => "input-11"}
          %span.input__label-content.input__label-content--jiro Dog's Name
      %span.input.input--jiro
        %input#input-12.input__field.input__field--jiro{:type => "text"}/
        %label.input__label.input__label--jiro{:for => "input-12"}
          %span.input__label-content.input__label-content--jiro Hamster's Name
    %section.content
      %h2 Minoru
      %span.input.input--minoru
        %input#input-13.input__field.input__field--minoru{:type => "text"}/
        %label.input__label.input__label--minoru{:for => "input-13"}
          %span.input__label-content.input__label-content--minoru First Name
      %span.input.input--minoru
        %input#input-14.input__field.input__field--minoru{:type => "text"}/
        %label.input__label.input__label--minoru{:for => "input-14"}
          %span.input__label-content.input__label-content--minoru Middle Name
      %span.input.input--minoru
        %input#input-15.input__field.input__field--minoru{:type => "text"}/
        %label.input__label.input__label--minoru{:for => "input-15"}
          %span.input__label-content.input__label-content--minoru Last Name
    %section.content.bgcolor-5
      %h2 Yoko
      %span.input.input--minoru
        %input#input-16.input__field.input__field--yoko{:type => "text"}/
        %label.input__label.input__label--yoko{:for => "input-16"}
          %span.input__label-content.input__label-content--yoko Street
      %span.input.input--minoru
        %input#input-17.input__field.input__field--yoko{:type => "text"}/
        %label.input__label.input__label--yoko{:for => "input-17"}
          %span.input__label-content.input__label-content--yoko City
      %span.input.input--minoru
        %input#input-18.input__field.input__field--yoko{:type => "text"}/
        %label.input__label.input__label--yoko{:for => "input-18"}
          %span.input__label-content.input__label-content--yoko Region
    %section.content
      %h2 Hideo
      %span.input.input--hideo
        %input#input-41.input__field.input__field--hideo{:type => "text"}/
        %label.input__label.input__label--hideo{:for => "input-41"}
          %i.fa.fa-fw.fa-user.icon.icon--hideo
          %span.input__label-content.input__label-content--hideo Username
      %span.input.input--hideo
        %input#input-42.input__field.input__field--hideo{:type => "text"}/
        %label.input__label.input__label--hideo{:for => "input-42"}
          %i.fa.fa-fw.fa-envelope.icon.icon--hideo
          %span.input__label-content.input__label-content--hideo Email
      %span.input.input--hideo
        %input#input-43.input__field.input__field--hideo{:type => "text"}/
        %label.input__label.input__label--hideo{:for => "input-43"}
          %i.fa.fa-fw.fa-lock.icon.icon--hideo
          %span.input__label-content.input__label-content--hideo Password
    %section.content.bgcolor-3
      %h2 Kyo
      %span.input.input--kyo
        %input#input-19.input__field.input__field--kyo{:type => "text"}/
        %label.input__label.input__label--kyo{:for => "input-19"}
          %span.input__label-content.input__label-content--kyo What's your email?
    %section.content.bgcolor-4
      %h2 Akira
      %span.input.input--akira
        %input#input-22.input__field.input__field--akira{:type => "text"}/
        %label.input__label.input__label--akira{:for => "input-22"}
          %span.input__label-content.input__label-content--akira First Name
      %span.input.input--akira
        %input#input-23.input__field.input__field--akira{:type => "text"}/
        %label.input__label.input__label--akira{:for => "input-23"}
          %span.input__label-content.input__label-content--akira Last Name
      %span.input.input--akira
        %input#input-24.input__field.input__field--akira{:type => "text"}/
        %label.input__label.input__label--akira{:for => "input-24"}
          %span.input__label-content.input__label-content--akira Maiden Name
    %section.content
      %h2 Ichiro
      %span.input.input--ichiro
        %input#input-25.input__field.input__field--ichiro{:type => "text"}/
        %label.input__label.input__label--ichiro{:for => "input-25"}
          %span.input__label-content.input__label-content--ichiro Bird's Color
      %span.input.input--ichiro
        %input#input-26.input__field.input__field--ichiro{:type => "text"}/
        %label.input__label.input__label--ichiro{:for => "input-26"}
          %span.input__label-content.input__label-content--ichiro Wing Span
      %span.input.input--ichiro
        %input#input-27.input__field.input__field--ichiro{:type => "text"}/
        %label.input__label.input__label--ichiro{:for => "input-27"}
          %span.input__label-content.input__label-content--ichiro Beak Length
    %section.content.bgcolor-6
      %h2 Juro
      %span.input.input--juro
        %input#input-28.input__field.input__field--juro{:type => "text"}/
        %label.input__label.input__label--juro{:for => "input-28"}
          %span.input__label-content.input__label-content--juro First Name
      %span.input.input--juro
        %input#input-29.input__field.input__field--juro{:type => "text"}/
        %label.input__label.input__label--juro{:for => "input-29"}
          %span.input__label-content.input__label-content--juro Last Name
      %span.input.input--juro
        %input#input-30.input__field.input__field--juro{:type => "text"}/
        %label.input__label.input__label--juro{:for => "input-30"}
          %span.input__label-content.input__label-content--juro Maiden Name
    %section.content.bgcolor-4
      %h2 Madoka
      %span.input.input--madoka
        %input#input-31.input__field.input__field--madoka{:type => "text"}/
        %label.input__label.input__label--madoka{:for => "input-31"}
          %svg.graphic.graphic--madoka{:height => "100%", :preserveaspectratio => "none", :viewbox => "0 0 404 77", :width => "100%"}
            %path{:d => "m0,0l404,0l0,77l-404,0l0,-77z"}
          %span.input__label-content.input__label-content--madoka Frequency
      %span.input.input--madoka
        %input#input-32.input__field.input__field--madoka{:type => "text"}/
        %label.input__label.input__label--madoka{:for => "input-32"}
          %svg.graphic.graphic--madoka{:height => "100%", :preserveaspectratio => "none", :viewbox => "0 0 404 77", :width => "100%"}
            %path{:d => "m0,0l404,0l0,77l-404,0l0,-77z"}
          %span.input__label-content.input__label-content--madoka Weight
      %span.input.input--madoka
        %input#input-33.input__field.input__field--madoka{:type => "text"}/
        %label.input__label.input__label--madoka{:for => "input-33"}
          %svg.graphic.graphic--madoka{:height => "100%", :preserveaspectratio => "none", :viewbox => "0 0 404 77", :width => "100%"}
            %path{:d => "m0,0l404,0l0,77l-404,0l0,-77z"}
          %span.input__label-content.input__label-content--madoka Strength
    %section.content
      %h2 Kaede
      %span.input.input--kaede
        %input#input-35.input__field.input__field--kaede{:type => "text"}/
        %label.input__label.input__label--kaede{:for => "input-35"}
          %span.input__label-content.input__label-content--kaede First Name
      %span.input.input--kaede
        %input#input-36.input__field.input__field--kaede{:type => "text"}/
        %label.input__label.input__label--kaede{:for => "input-36"}
          %span.input__label-content.input__label-content--kaede Last Name
      %span.input.input--kaede
        %input#input-37.input__field.input__field--kaede{:type => "text"}/
        %label.input__label.input__label--kaede{:for => "input-37"}
          %span.input__label-content.input__label-content--kaede Website
    %section.content.bgcolor-8
      %h2 Isao
      %span.input.input--isao
        %input#input-38.input__field.input__field--isao{:type => "text"}/
        %label.input__label.input__label--isao{"data-content" => "First Name", :for => "input-38"}
          %span.input__label-content.input__label-content--isao First Name
      %span.input.input--isao
        %input#input-39.input__field.input__field--isao{:type => "text"}/
        %label.input__label.input__label--isao{"data-content" => "Middle Name", :for => "input-39"}
          %span.input__label-content.input__label-content--isao Middle Name
      %span.input.input--isao
        %input#input-40.input__field.input__field--isao{:type => "text"}/
        %label.input__label.input__label--isao{"data-content" => "Last Name", :for => "input-40"}
          %span.input__label-content.input__label-content--isao Last Name
    / Related demos
    %section.content.content--related
      %p If you enjoyed this demo you might also like:
      %a.media-item{:href => "http://tympanus.net/Development/MinimalForm/"}
        %img.media-item__img{:src => "img/related/MinimalForm.png"}/
        %h3.media-item__title Minimal Form Interface
      %a.media-item{:href => "http://tympanus.net/Development/SelectInspiration/"}
        %img.media-item__img{:src => "img/related/SelectInspiration.png"}/
        %h3.media-item__title Custom Select Elements
  / /container
  %script{:src => "js/classie.js"}
  :javascript
    (function() {
      // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
      if (!String.prototype.trim) {
        (function() {
          // Make sure we trim BOM and NBSP
          var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
          String.prototype.trim = function() {
            return this.replace(rtrim, '');
          };
        })();
      }

      [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
        // in case the input is already filled..
        if( inputEl.value.trim() !== '' ) {
          classie.add( inputEl.parentNode, 'input--filled' );
        }

        // events:
        inputEl.addEventListener( 'focus', onInputFocus );
        inputEl.addEventListener( 'blur', onInputBlur );
      } );

      function onInputFocus( ev ) {
        classie.add( ev.target.parentNode, 'input--filled' );
      }

      function onInputBlur( ev ) {
        if( ev.target.value.trim() === '' ) {
          classie.remove( ev.target.parentNode, 'input--filled' );
        }
      }
    })();


-# .top-wrapper
-#   .container.main
-#     .box
-#       %h1 Shoko Iwasaki
-#       %p
-#         %a{:href => "https://github.com/peacepostman/wavify"} Website
-#     %svg{:version => "1.1", :xmlns => "http://www.w3.org/2000/svg"}
-#       %path#wave1{:d => ""}
-#   .container.about
-#     .box
-#       %h1 wavify Demo
-#       %p
-#         %a{:href => "https://github.com/peacepostman/wavify"} Website
-#     %svg{:version => "1.1", :xmlns => "http://www.w3.org/2000/svg"}
-#       %path#wave2{:d => ""}
      
-#   %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
-#   %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"}
-#   %script{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/jquery.wavify.js"}
